<h1>Vote for Trip to <%= @trip.city %></h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Points of Interest</th>
		</tr>
	</thead>
	<tbody>
		<% @pois.each do |poi| %>
			<tr>
				<td><%= poi.name %></td>
				<td>
				<% if Vote.find_by_poi_id_and_user_id(poi.id, current_user.id).nil? %>
					<%= button_tag "Vote", :id => poi.id, :class => "btn btn-primary vote" %>
				<% else %>
					<%= button_tag "Voted", :id => poi.id, :class => "btn btn-success vote disabled" %>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>	